body {
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
#box {
    width: 2000px;
    height: 3200px;
    border: 9px solid;
    background-color: aliceblue;
}
#biriyani {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-image: url("/static/Images/Veg-Biriyani.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#desserts {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    background-image: url("/static/Images/Dessert.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#ice-cream {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    border: 2px solid;
}
#fastfood {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-color: khaki;
}
#lunch {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-color: hotpink;
}
#juices {
    float: left;
    margin: 20px 20px;
    width: 600px;
    height: 600px;
    border: 2px solid;
    background-color: gainsboro;
}