@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    top:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 9999;
}

body{
    padding-top: 100px;
}

.navbar-brand{
    user-select: none !important;
    margin-left: 20px;
}

.navbar{
    position:fixed;
    padding-left: 10px;
    padding-right: 30px;
}

.bg-light{
    background-color:#F8F8FF!important;
}

.nav-item>a{
    color: black;
    font-size: 1.1em;
    font-weight: 550;
    margin: 0px 10px;
    padding: 10px 10px;
    text-decoration: none;

}

.nav-link{
    position: relative;
}

.dropdown-menu{
    --bs-dropdown-min-width:6rem;
}



.nav-link::after{
    content:'';
    opacity: 0;
    transition: all 0.2s;
    height:2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position:absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform .5s;
}
.nav-link:hover::after{
    transform-origin: left;
    opacity: 2;
    transform: scaleX(1);
}

.nav-link:hover::after{
    opacity: 2;
}

.dropdown-menu > li > a:hover {
       
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.container-fluid {
    display: inline-block;
  }

.dropdown-menu{
    text-align: justify;
}
