{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'inventory.css' %}">
    </head>
    <body>
        <div id = "box">
            <div id = "biriyani">
                <h1> Biriyani </h1>
                <label><input type="checkbox" name="Chicken Biriyani"/>Chicken Biriyani</label><br>
                <label><input type="checkbox" name="Veg Biriyani"/>Veg Biriyani</label><br>
                <label><input type="checkbox" name="Fried Rice"/>Fried Rice</label><br>
            </div>
            <div id = "desserts">
                <h1> Dessert </h1>
                <label><input type="checkbox" name="Fruit Salad"/>Fruit Salad</label><br>
                <label><input type="checkbox" name="Vegetable Salad"/>Vegetable Salad</label><br>
                <label><input type="checkbox" name="Kala Jamun"/>Kala Jamun</label><br>
            </div>
            <div id = "ice-cream">
                <h1> Ice-cream </h1>
                <label><input type="checkbox" name="Chocolate"/>Chocolate</label><br>
                <label><input type="checkbox" name="Butterscoch"/>Butterscoch</label><br>
                <label><input type="checkbox" name="Strawberry"/>Strawberry</label><br>
            </div>
            <div id = "fastfood">
                <h1> Fast food </h1>
                <label><input type="checkbox" name="Noodles"/>Noodles</label><br>
                <label><input type="checkbox" name="French Fries"/>French Fries</label><br>
                <label><input type="checkbox" name="Chicken Manchuriya"/>Chicken Manchuriya</label><br>
            </div>
            <div id = "lunch">
                <h1> Lunch </h1>
                <label><input type="checkbox" name="Veg Meals"/>Veg Meals</label><br>
                <label><input type="checkbox" name="Non-veg Meals"/>Non-veg Meals</label><br>
                <label><input type="checkbox" name="Chapathi"/>Chicken Manchuriya</label><br>
            </div>
            <div id = "juices">
                <h1> Juices </h1>
                <label><input type="checkbox" name="Noodles"/>Noodles</label><br>
                <label><input type="checkbox" name="French Fries"/>French Fries</label><br>
                <label><input type="checkbox" name="Chicken Manchuriya"/>Chicken Manchuriya</label><br>
            </div>
        </div>
    </body>
</html>